.container{
    height: 180px;

    box-shadow: 0px 7px 25px 0px #64646F33;
    transition: box-shadow 0.3s ease; 

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;

    text-decoration: none;
}
.container > *{
    color: black;
}
.container:hover {
    box-shadow: 0px 7px 25px 0px black;
}

.subContainer{
    margin: 0 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nameSpec{
    height: 60px;
    margin-top: 20px;
    margin-left: 30px;

    font-family: Fira Sans;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0px;
}
.stat, .date{
    height: 30px;

    text-align: start;

    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
}
.date{
    text-align: end;
}

@media (max-width: 790px) {
    .container{
        height: 150px;
    }
}

@media (max-width: 550px) {
    .container{
        height: 120px;
    }

    .nameSpec{
        height: 60px;
        margin-top: 10px;
        margin-left: 15px;
        
        font-size: 22px;
    }

    .subContainer{
        margin: 0 15px;
    }
}